* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(29, 126, 253);
    font-size: 15px;
}

header p {
    color: white;
    padding: 10px;
    padding-left: 10px;
}

header span {
    padding: 10px;
    background-color: white;
    border-radius: 30%;
    margin-left: 10px;
}

header .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .col {
    display: flex;
    margin: 10px 0px;
    width: 45%;
}

main {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 50px;
}

.container {
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

#jumbo .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

#jumbo .col-60 {
    background-color: rgb(151, 195, 245);
    border-radius: 10%;
    margin-bottom: 20px;
    width: 60%;
    display: flex;
}

#jumbo .col-60 .content {
    margin-top: 20px;
    margin-left: 20px;
}

#jumbo .col-60 h2 {
    color: rgb(29, 126, 253);
    font-size: 20px;
    margin-bottom: 20px;
}

#jumbo .col-60 p {
    margin-bottom: 30px;
    margin-right: 80px;
    line-height: 200%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

#jumbo .col-60 span {
    background-color: rgb(29, 126, 253);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20%;
    letter-spacing: 2px;
}

#jumbo .col-60 img {
    margin-left: 10px;
    width: 80%;
}

#jumbo .col-33 .content {
    margin-top: 20px;
    margin-left: 20px;
}

#jumbo .col-33 h2 {
    color: rgb(29, 126, 253);
    font-size: 20px;
    margin-bottom: 20px;
}

#jumbo .col-33 p {
    margin-bottom: 30px;
    margin-right: 80px;
    line-height: 200%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

#jumbo .col-33 span {
    background-color: rgb(29, 126, 253);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20%;
    letter-spacing: 2px;
}

.apple {
    max-width: 10px;
    filter: invert(100%);
}

#jumbo .col-33 {
    background-color: rgb(151, 195, 245);
    width: calc(100% / 3 -30px);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10%;
    margin-bottom: 20px;
}

#jumbo .col-33 h2 {
    text-align: center;
}

#jumbo .col-33 p {
    margin-bottom: 0px;
    margin-right: 0px;
    line-height: 200%;
    text-align: center;
}

#planning {
    background-color: rgb(151, 146, 228);
}

#planning .container {
    margin-top: 70px;
    padding-left: 20%;
    padding-right: 20%;
}

.container .col-50 {
    background-color: blanchedalmond;
    width: 45%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#partners .container {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

#partners .container .row {
    background-color: aqua;
}

.container .col-100 {
    background-color: rgb(255, 0, 179);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    padding: 10%;
    border-radius: 5%;
}

#benefits .container {
    background-color: rgb(161, 138, 226);
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

#benefits .row {
    background-color: rgb(155, 124, 59);
    display: flex;
    padding-bottom: 20px;
}

#benefits .col-100 {
    background-color: rgb(51, 175, 82);
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10%;
}

#benefits .col-33 {
    background-color: rgb(51, 175, 82);
    width: calc(100% /3);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10%;
}

#about .container {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

#about .row {
    background-color: rgb(59, 141, 155);
    display: flex;
}

#about .col-80 {
    background-color: rgb(71, 40, 45);
    width: 75%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10%;
}

#about .col-20 {
    background-color: rgb(73, 40, 51);
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10%;
}

#getstart .container {
    background-color: rgb(161, 138, 226);
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

#getstart .row {
    background-color: rgb(69, 59, 155);
}

#getstart .col {
    background-color: rgb(51, 175, 138);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10%;
}

footer {
    background-color: rgb(65, 65, 65);
    padding-right: 20%;
    padding-left: 20%;
}

footer .row {
    background-color: blue;
}

footer .col {
    background-color: aquamarine;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10%;
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 480px) {

}