* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(29, 126, 253);
    font-size: 15px;
}

header p {
    color: white;
    padding: 10px;
    padding-left: 10px;
}

header span {
    padding: 10px;
    background-color: white;
    border-radius: 30%;
    margin-left: 10px;
}

header .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

header .col {
    display: flex;
    margin: 10px;
    width: 45%;
}

main {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 50px;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
}

.container .row {
    display: flex;
    margin-top: 20px;
}

.container .col-60 {
    background-color: rgb(151, 195, 245);
    border-radius: 10%;
    margin-right: 20px;
    width: 60%;
    display: flex;
}

.content {
    margin-top: 20px;
    margin-left: 20px;
}

.content h2 {
    color: rgb(29, 126, 253);
    font-size: 20px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 30px;
    margin-right: 80px;
    line-height: 200%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.content span {
    background-color: rgb(29, 126, 253);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20%;
    letter-spacing: 2px;
}

.content img {
    margin-top: 50px;
    margin-left: 10px;
    width: 80%;
}

.container .col-33 {
    background-color: rgb(151, 195, 245);
    width: calc(100% / 3);
    border-radius: 10%;
    margin-bottom: 10px;
}

.col-33 h2 {
    text-align: center;
}

.col-33 p {
    margin-bottom: 0px;
    margin-right: 0px;
    line-height: 200%;
    text-align: center;
}

.container-2 {
    background-color: rgb(161, 138, 226);
    margin-top: 70px;
    padding-left: 20%;
    padding-right: 20%;
}

.container-2 .row {
    display: flex;
    flex-wrap: wrap;
}

.container-2 .col-50 {
    background-color: blanchedalmond;
    width: 45%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.container-3 {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

.container-3 .row {
    background-color: aqua;
}

.container-3 .col-100 {
    background-color: rgb(255, 0, 179);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    padding: 10%;
}

.container-4 {
    background-color: rgb(161, 138, 226);
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

.container-4 .row {
    background-color: rgb(155, 124, 59);
    display: flex;
    padding-bottom: 20px;
    width: 1200px;
}

.container-4 .col-100 {
    background-color: rgb(51, 175, 82);
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10%;
}

.container-4 .col-33 {
    background-color: rgb(51, 175, 82);
    width: calc(100% /3);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10%;
}

.container-5 {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
}

.container-5 .row {
    background-color: rgb(59, 141, 155);
    display: flex;
}

.container-5 .col-80 {
    background-color: rgb(71, 40, 45);
    width: 75%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10%;
}

.container-5 .col-20 {
    background-color: rgb(73, 40, 51);
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10%;
}

footer {
    background-color: rgb(65, 65, 65);
    padding-right: 20%;
    padding-left: 20%;
}

footer .row {
    background-color: blue;
}

footer .col {
    background-color: aquamarine;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10%;
}

@media screen and (max-width: 768px) {
    .container {
        width:;
    }
}

@media screen and (max-width: 480px) {
    .row {
        flex-wrap: wrap;
    }

    .col {
        width:;
        margin-bottom:;
    }
}