* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(0, 132, 253);
    font-size: 15px;
}

header p {
    color: white;
    padding: 10px;
    padding-left: 10px;
}

header span {
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    margin-left: 10px;
}

header .bars {
    display: none;
    width: 0%;
}

header .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .col {
    display: flex;
    margin: 10px 0px;
    width: 45%;
}

main {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 50px;
}

.container {
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

#jumbo .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

#jumbo .col-60 {
    background-color: rgb(181, 221, 255);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 63%;
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

#jumbo .col-60 .content {
    margin-top: 30px;
    margin-left: 20px;
    position: absolute;
    width: 55%;
}

#jumbo .col-60 h2 {
    color: rgb(0, 132, 253);
    font-size: 20px;
    margin-bottom: 20px;
}

#jumbo .col-60 p {
    margin-bottom: 40px;
    margin-right: 80px;
    line-height: 200%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

#jumbo .col-60 span {
    background-color: rgb(0, 132, 253);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 18px;
    letter-spacing: 2px;
}

#jumbo .col-60 .phone {
    margin-left: 400px;
    margin-top: 20px;
    width: 60%;
}

#jumbo .col-33 {
    background-color: rgb(181, 221, 255);
    width: calc(100% / 4 -20px);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#jumbo .col-33 .content {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#jumbo .col-33 h2 {
    color: rgb(0, 132, 253);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#jumbo .col-33 p {
    margin-bottom: 30px;
    line-height: 200%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(71, 71, 71);
}

#jumbo .col-33 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.code {
    width: 18%;
}

.compass {
    width: 25%;
}

.laptop {
    width: 35%;
}

.megaphone {
    width: 25%;
}

.apple {
    max-width: 10px;
    filter: invert(100%);
}

#planning {
    background-color: rgb(151, 146, 228);
}

#planning .container {
    margin-top: 70px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

#planning .row {
    display: flex;
}

#planning .col-50 {
    width: 50%;
}

#planning .content {
    width: 95%;
    margin: 0 auto;
    padding-right: 20px;
    color: white;
}

#planning .content img {
    width: 100%;
}

#planning .content h2 {
    margin-top: 100px;
    font-size: 25px;
}

#planning .content p {
    margin-top: 40px;
    font-size: 13px;
    line-height: 170%;
}

#planning .content-2 {
    background-color: white;
    margin-top: 130px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
}

#planning .content-2 img {
    width: 70%;
}

#planning .content-2 h2 {
    margin-top: 10px;
    font-size: 18px;
}

#planning .content-2 p {
    font-size: 13px;
    font-style: italic;
    line-height: 200%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

#planning .content-2 span {
    font-size: 20px;
    padding: 5px;
    background-color: rgb(151, 146, 228);
    border-radius: 100px;
    padding-left: 12px;
    padding-right: 12px;
}

#partners .container {
    margin-top: 50px;
    margin-bottom: 100px;
}

#partners .col {
    text-align: center;
}

#partners .col .start {
    font-size: 13px;
    margin-bottom: 20px;
}

#partners .col h2 {
    color: rgb(151, 146, 228);
    font-size: 30px;
    margin-bottom: 30px;
}

#partners .col p {
    margin-bottom: 30px;
}

#partners .col-100 {
    background-color: rgb(151, 146, 228);
    border-radius: 20px;
    margin-bottom: 25px;
}

#partners .col-100 .content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 15px;
}

#partners .col-100 img {
    width: 20%;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
}

#partners .col-100 p {
    width: 70%;
    margin-left: 60px;
    margin-top: 70px;
    color: white;
}

#partners .col-100 span {
    font-size: 20px;

}

#partners .col-100 h3 {
    position: absolute;
    margin: 150px;
    margin-left: 280px;
    color: white;
}

#benefits {
    background-color: rgb(151, 146, 228);
}

#benefits .row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

#benefits .col-100 {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-right: 15px;
    margin-left: 15px;
}

#benefits .col-33 {
    background-color: white;
    width: calc(100% / 4);
    color: rgb(151, 146, 228);
    padding: 30px;
    border-radius: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#benefits .col-33 h2 {
    font-size: 60px;
}

#benefits .col-33 h3 {
    padding-bottom: 20px;
}

#benefits .col-33 p {
    padding-bottom: 30px;
}

#benefits .col-33 span {
    color: white;
    background-color: rgb(151, 146, 228);
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    font-weight: bold;
}

#about .container {
    margin-top: 70px;
    margin-bottom: 100px;
}

#about .row {
    display: flex;
}

#about .col-80 {
    width: 42%;
    margin-right: 70px;
    margin-left: 100px;
}

#about .col-80 h2 {
    font-size: 50px;
    color: rgb(151, 146, 228);
}

#about .col-80 p {
    font-size: 13px;
    line-height: 30px;
    margin-top: 25px;
}

#about .col-20 {
    width: 15%;
    color: rgb(151, 146, 228);
}

#about .col-20 h2 {
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    padding-left: 120px;
}

#about .col-20 .about-man {
    width: 100%;
    border-radius: 100px;
    display: block;
}

#about .col-20 p {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    display: block;
    padding-bottom: 20px;
}

#about span {
    width: 80%;
    display: flex;
    font-size: 12px;
    color: white;
    background-color: rgb(151, 146, 228);
    border-radius: 25px;
    padding: 5px;
}

#about span img {
    width: 9%;
    height: 9%;
    filter: invert(100%);
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 4px;
}

#getstart {
    background-color: rgb(151, 146, 228);
    text-align: center;
    color: white;
}

#getstart .container {
    max-width: 25%;
}

#getstart .start {
    padding-top: 50px;
    opacity: 0.6;
}

#getstart h2 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#getstart h3 {
    color: rgb(253, 193, 95);
    font-size: 70px;
}

#getstart .dream {
    font-size: 15px;
    padding-bottom: 50px;
    line-height: 30px;
}

#getstart .button {
    font-weight: bold;
    color: rgb(151, 146, 228);
    background-color: white;
    border-radius: 35px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 2px;
}

#getstart .credit {
    font-size: small;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 50px;
}

#getstart p span {
    text-decoration: underline;
}

footer {
    background-color: rgb(51, 51, 51);
    color: white;
}

footer .container {
    width: 21%;
}

footer p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer span {
    color: rgb(151, 146, 228);
    text-decoration: underline;
}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 480px) {    
    header p {
        display: none;
    }
    
    header span {
        display: none;
    }
    
    header .bars {
        display: inline-block;
        width: 7%;
    }

    header .col {
        width: auto;
        margin-left: 40px;
    }

    .container {
        max-width: 100%;
    }
    
    #jumbo .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    #jumbo .col-60 {
        margin-bottom: 30px;
        width: 100%;
        display: block;
        position: static;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 335px;
    }
    
    #jumbo .col-60 .content {
        margin-top: 30px;
        margin-left: 0px;
        position: static;
        width: 100%;
    }
    
    #jumbo .col-60 h2 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    #jumbo .col-60 p {
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 90px;
    }
    
    #jumbo .col-60 span {
        margin-left: 40px;
    }
    
    #jumbo .col-60 .phone {
        position: absolute;
        margin-left: 50px;
        margin-top: 15px;
    }
    
    #jumbo .col-33 {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #planning .container {
        margin-top: 70px;
        padding-top: 0px;
        padding-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #planning .row {
        display: block;
    }
    
    #planning .col-50 {
        width: 100%;
    }
    
    #planning .content {
        width: 100%;
        margin: 0 auto;
        padding-right: 0px;
        color: white;
    }
    
    #planning .content img {
        margin-top: 70px;
        margin-left: 40px;
        width: 80%;
    }
    
    #planning .content h2 {
        margin-left: 40px;
        font-size: 40px;
    }
    
    #planning .content p {
        margin-left: 40px;
        margin-right: 70px;
        font-size: 20px;
    }
    
    #planning .content-2 {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    #planning .content-2 img {
        width: 90%;
    }
    
    #planning .content-2 h2 {
        font-size: 25px;
    }
    
    #planning .content-2 p {
        font-size: 15px;
        padding: 0px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }
    
    #planning .content-2 span {
        font-size: 25px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }
}